# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.db

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Build artifacts
backend/static/
